<section id="main-locacao">
    <section id="main-locacao_capa">
        <h1>Locação para Eventos Sociais</h1>
    </section>
    <section id="main-locacao__galpaoPrincipal" class="main-locacao__articles">
        <h2>Galpão principal</h2>
        <section class="main-locacao__conteudo">
            <div class="main-locacao__conteudo__img-container">
                <img src="../../../assets/img/locacao/img1_capa_locacao.jpg" alt="" srcset="" class="main-locacao__conteudo__img">
            </div>
            <article class="main-locacao__conteudo__textual">
                <h3>Galpão Principal</h3>
                <p>Acomodação para até 900 pessoas.</p>
                <p>Cozinha Equipada.</p>
                <p>Local coberto com ampla ventilação e ar.</p>
                <p>Churrasqueira de grande porte.</p>
                <p>Acompanha louça, talheres e utensílios de cozinha para servir.</p>
                <p>Banheiros Masculino e feminino na parte inferior e mezanino.</p>
                <p>Limpeza ao final do Evento.</p>

                <h4>Opcional</h4>
                <p>Serviço de buffet</p>
                <p>Copa</p>
                <p>Limpeza ao final do Evento.</p>
                <a href="https://wa.me/555184087325?text=Gosta+de+falar+sobre+a+locação+do+galpão+principal" target="_blank" rel="noopener noreferrer">
                    <button class="btn__main-locacao" >
                        Faça seu orçamento conosco!
                    </button>
                </a>
            </article>
        </section>
        <section class="main-locacao__conteudo__galeria">
            <h3>Galeria de fotos</h3>
            <section class="main-locacao__conteudo__galeria__img">
                <img src="../../../assets/img/locacao/1.png" alt="" srcset="">
            </section>
        </section>
        <section class="main-locacao__conteudo__galeria_resp">
            <h3>Galeria de fotos</h3>
            <section class="main-locacao__conteudo__galeria_resp__section">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/principal/img1_principal.jpg" alt="">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/principal/img2_principal.jpg" alt="">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/principal/img3_principal.jpg" alt="">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/principal/img4_principal.jpg" alt="">
            </section>
        </section>
    </section>
    <section id="main-locacao__campeirodoRacho" class="main-locacao__articles" >
        <h2>Campeira do Rancho</h2>
        <section class="main-locacao__conteudo">
            <article class="main-locacao__conteudo__textual">
                <h3>Campeira do Rancho</h3>
                <p>Acomodação para até 100 pessoas.</p>
                <p>Cozinha Equipada.</p>
                <p>Fogão á lenha</p>
                <p>Churrasqueira de grande porte.</p>
                <p>Acompanha louça, talheres e utensílios de cozinha para servir.</p>
                <p>Banheiros Masculino e feminino.</p>
                
                <h4>Opcional</h4>
                <p>Serviço de buffet</p>
                <p>Copa</p>
                <p>Limpeza ao final do Evento.</p>

                <a href="https://wa.me/555184087325?text=Gosta+de+falar+sobre+a+locação+do+Campeira++do+Rancho" target="_blank" rel="noopener noreferrer">
                    <button class="btn__main-locacao" >
                        Faça seu orçamento conosco!
                    </button>
                </a>
            </article>
            <div id="main-locacao__conteudo__img-container">
                <img src="../../../assets/img/locacao/img2_capa_locacao.jpg" alt="" srcset="" class="main-locacao__conteudo__img">
            </div>
        </section>
        <section class="main-locacao__conteudo__galeria">
            <h3>Galeria de fotos</h3>
            <section class="main-locacao__conteudo__galeria__img">
                <img src="../../../assets/img/locacao/2.png" alt="" srcset="">
            </section>
        </section>
    </section>
    <section id="main-locacao__campeirodoRacho_resp" class="main-locacao__articles" >
        <h2>Campeira do Rancho</h2>
        <div id="main-locacao__conteudo__img-container2">
            <img src="../../../assets/img/locacao/img2_capa_locacao.jpg" alt="" srcset="" class="main-locacao__conteudo__img">
        </div>
        <section class="main-locacao__conteudo">
            <article class="main-locacao__conteudo__textual">
                <h3>Campeira do Rancho</h3>
                <p>Acomodação para até 100 pessoas.</p>
                <p>Cozinha Equipada.</p>
                <p>Fogão á lenha</p>
                <p>Churrasqueira de grande porte.</p>
                <p>Acompanha louça, talheres e utensílios de cozinha para servir.</p>
                <p>Banheiros Masculino e feminino.</p>
                
                <h4>Opcional</h4>
                <p>Serviço de buffet</p>
                <p>Copa</p>
                <p>Limpeza ao final do Evento.</p>

                <a href="https://wa.me/555184087325?text=Gosta+de+falar+sobre+a+locação+do+Campeira++do+Rancho" target="_blank" rel="noopener noreferrer">
                    <button class="btn__main-locacao" >
                        Faça seu orçamento conosco!
                    </button>
                </a>
            </article>
            
        </section>
        <section class="main-locacao__conteudo__galeria_resp">
            <h3>Galeria de fotos</h3>
            <section class="main-locacao__conteudo__galeria_resp__section">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/rancho/img1_rancho.jpg" alt="">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/rancho/img2_rancho.jpg" alt="">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/rancho/img3_rancho.jpg" alt="">
                <img class="main-locacao__conteudo__galeria_resp__section_photo" src="../../../assets/img/locacao/rancho/img3_rancho.jpg" alt="">
            </section>
        </section>
    </section>
</section>
