<section id="localizacao-main">
  <h3>Localização</h3>
  <section id="localizacao-main__info">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.617388823357!2d-51.104719231682594!3d-29.928831358300595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197164ba283149%3A0x766431c51d30790d!2sCTG%20Rancho%20da%20Saudade!5e0!3m2!1spt-BR!2sbr!4v1673738800426!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div id="localizacao-main__info-tabua">
      <div id="localizacao-main__info-tabua__text">
        <h4>CTG - Rancho da Saudade</h4>
        <p>End.: Av. Frederico Augusto Ritter, 2626</p>
        <p>Bairro: Distrito Industrial</p>
        <p>Municipio: Cachoeirinha</p>
        <p>Estado: Rio Grande do Sul</p>
      </div>
    </div>
  </section>
</section>

