<section id="Home__main">
  <section id="home__logo">
    <img src="../../../assets/img/Home/logo_ranchodasaudade.png" alt="" srcset="">
  </section>
  <section id="home__slogan">
    <h1>CTG Rancho da Saudade</h1>
    <h2>Gaúcho da ilhapa à presilha</h2>
  </section>
  <section id="home__links">
    <a class="home__links-redes" href="https://www.facebook.com/ranchodasaudade/" target="_blank"><img src="../../../assets/img/Home/facebook_icon.png" alt="" srcset=""><p>@ranchodasaudade</p></a>
    <a class="home__links-redes" href="https://www.instagram.com/ctgranchodasaudade/" target="_blank"><img src="../../../assets/img/Home/instagram-icon.png" alt="" srcset=""><p>ctgranchodasaudade</p></a>
    <a class="home__links-redes" href="https://www.youtube.com/channel/UCsJ2wBfnKubs2kqck0CQopg" target="_blank"><img src="../../../assets/img/Home/youtube_icon.png" alt="" srcset=""><p>CTG - Rancho da Saudade - Oficial</p></a>
  </section>
</section>

