.awards-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
}

.awards-container > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
}
