<section class="private_policy">
  <h2>POLÍTICA DE PRIVACIDADE</h2>
  <p>Para nós do Centro de Tradições Gaúcho, é imprescindível a transparência em relação aos dados cadastrados no nosso sistema. Estamos atentos com a sua privacidade e proteção. É necessário que você saiba e concorde com a nossa Política de Privacidade. Com ela, você terá informações explícitas sobre a coleta, utilização, tratamento, armazenamento e proteção dos seus dados. Política que aplicamos a tudo que será disponibilizado.</p>

  <h2>COLETA DE DADOS PESSOAIS E INFORMAÇÕES</h2>
  <p>Coletamos informações que você nos fornece indiretamente.</p>
  <p>Iremos coletar informações quando você acessa o site, para verificação de IP e contato.Com essas informações é possível entrar em contato via ethernet, com coleta de dados de contato no acesso em dispositivos móveis, ou número de IP, em desktops.</p>
  <p>Essas informações são fundamentais para facilitar a comunicação entre você, o usuário, e a – Centro de Tradições Gaúcho Rancho da Saudade.</p>
  <p>Além disso, há nossa pesquisa, o qual enviaremos por e-mail. Esse levantamento será feito para aperfeiçoar o conteúdo e nossos serviços.</p>
  <p>É vital para nosso site continuar disponibilizando e transmitindo nossa a cultura, a coleta de tais dados e compreensão de sua importância.</p>

  <h2>USO DOS DADOS</h2>

  <p>Os dados pessoais coletados, bem como demais informações, poderão ser armazenados, tratados e utilizados pelo Centro de Tradições Gaúcho Rancho da Saudade - CTG com as seguintes finalidades:</p>

  <p>Possibilitar a prestação dos serviços ofertados pela Centro de Tradições Gaúcho Rancho da Saudade - CTG, permitindo, assim, a operacionalização das nossas plataformas;</p>
  <p>Desenvolver melhorias nos nossos serviços;</p>
  <p>Fornecer recomendações, conteúdos e recursos que correspondam com os interesses do usuário;</p>
  <p>Fornecer um atendimento cada vez melhor e eficaz focado na experiência do usuário.</p>

  <h2>DIREITO DOS USUÁRIOS</h2>

  <p>Os usuários possuem o direito de pedirem a exclusão, retificação e atualização dos seus dados. Além disso, possuímos o canal de atendimento para possibilitar a comunicação sobre dúvidas relacionadas ao tratamento e armazenamento de dados.</p>

  <h2>COMPARTILHAMENTO COM TERCEIROS</h2>

  <p>O Centro de Tradições Gaúcho Rancho da Saudade poderá realizar o compartilhamento dos seus dados com terceiros na seguinte hipótese:</p>
  <p>Quando os dados forem coletados por meio de uma ação de co-marketing. Nesse caso, no próprio conteúdo será descrito e informado que é uma parceria do Centro de Tradições Gaúcho Rancho da Saudade com a empresa específica.</p>

  <h2>POLÍTICA DE COOKIES</h2>

  <p>Utilizamos cookies e web beacons para coletar informações de navegação.</p>

  <p>Os dados de navegação, como IP, ISP, Browser, e outras informações são coletados apenas com a finalidade estatística de melhorar a usabilidade e relevância do nosso site para você. A coleta desses dados é feita pelo Analytics.</p>

  <p>Porém, você pode navegar anonimamente usando este recurso em seu browser.</p>

  <h2>RETENÇÃO DE INFORMAÇÕES</h2>

  <p>Suas informações pessoais serão retidas pelo tempo necessário para cumprir os serviços ofertados e adquiridos. No entanto, podemos reter certas informações conforme exigido por lei aplicável. Quando não tivermos bases para continuar processando suas informações pessoais, elas serão excluídas ou anonimizadas de acordo com as leis aplicáveis.</p>

  <h2>SEGURANÇA</h2>

  <p>Desde o momento da inserção dos dados no sistema, até a sua finalidade, estes são armazenados em bancos de dados seguros, com acesso restrito apenas a funcionários com autorização para viabilizar as atividades com os referidos dados.</p>

  <h2>ATUALIZAÇÃO DA POLÍTICA</h2>

  <p>A equipe do Centro de Tradições Gaúcho Rancho da Saudade reserva-se no direito de alterar esta Política. Desse modo, recomendamos que consulte a nossa Política de Privacidade com regularidade de forma a estar sempre atualizado.</p>

  <p>Qualquer dúvida, o usuário pode falar diretamente com o Centro de Tradições Gaúcho Rancho da Saudade (CNPJ xx.xxx.xxx/xxxx-xx)  por meio do telefone +55 (51) 99625-7635 e/ou pelo e-mail: artistica@ctgranchodasaudade.com.br</p>

  <p>Rio Grande do Sul, 08 de Janeiro de 2024 – Centro de Tradições Gaúcho Rancho da Saudade</p>

</section>


