/*reponsividade - modelos responsivos para tablet de 768px
e celulares com 480px, o modo landascape deve ser implementado mais para frente*/
/**modo tablet configuração de 769px
*/
@media screen and (max-width:769px){
  #spotify-main{
    width: 80%;
    margin: auto;
  }

  h3 {
    font-size: 2em;
    color: #fff;
  }

  #spotify-main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }

  #spotify-main__info-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    padding: 3em 2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #spotify-main__info-description > p {
    text-indent: 1em;
    margin: 0.2em;
    text-align: justify;
  }

  #spotify-main__info-description > a {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1,8em;
    font-weight: 700;
    margin-top: 1em;
    border-radius: 10px;
  }

  #spotify-main__info-description > a:hover {
    text-shadow: 1px 1px 10px #76b897;
    box-shadow:  1px 1px 10px #76b897;
  }

  #spotify-main__info-description > img {
    margin-top: 2em;
    border-radius: 20px;
  }

  #spotify-main__info-music {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2em 0;
  }

  iframe {
    height: 40vh;
  }

  h4{
    margin-top: 20px;
    margin-bottom: -20px;
  }

  .spotify-main__info_qrcode {
    width: 80%;
  }

}

/*modo celular configuração de 480px*/
@media screen and (max-width:480px){
  #spotify-main{
    width: 98.5vw;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 1em;
  }

  #spotify-main__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }

  #spotify-main__info-description {
    width: 100%;
    padding: 2em 0em 0 0em;
  }

  #spotify-main__info-music {
    width: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2em 0;
  }

  iframe {
    width: 98vw;
    height: 100vh;
  }
}
