<section id="spotify-main">
  <h3>Spotify do Musical do Rancho</h3>
  <section id="spotify-main__info">
    <section id="spotify-main__info-description">
      <div>
        <p>O musical do Rancho tem um canal especial no spotify para você acompanhar as músicas que embalam as nossas apresentações;</p>
      </div>

      <a href="https://open.spotify.com/artist/0tyvsCPEsQGgawG94Umyq1" target="_blank"><img src="../../../assets/img/Comon/spotify.png" alt="">Musical do Rancho</a>
      <h4>Aproxime sua para o QRCode spotify</h4>
      <img class="spotify-main__info_qrcode" src="../../../assets/img/Comon/scan_spotify.jpeg" alt="" srcset="">
    </section>
    <section id="spotify-main__info-music">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/0tyvsCPEsQGgawG94Umyq1?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </section>
  </section>
</section>

