<section id="main-cultural">
  <h1>DEPARTAMENTO CULTURAL</h1>
  <section id="main-cultural__adulta" class="main-cultural-invernadas">
    <h2>CULTURAL</h2>
    <section class="conteudo">
      <p>O Departamento Cultural é responsável por desenvolver e propagar a cultura gaúcha, estabelecendo estratégia adequada ao interesse institucional e às políticas públicas para a cultura.</p>
      <p>Ele promove pesquisas, estudos, debates, conferências, seminários, cursos, simpósios, concursos e outras atividades que visem difundir e aprimorar conhecimentos sobre história, folclore, tradição, artes, artesanato e outras manifestações culturais do Rio Grande do Sul.</p> <p>Ademias, participa de eventos tradicionalistas em outras entidades e na comunidade local.</p>
      <p>A gestão de prendas e peões 2022/2023 foi empossada no mês de setembro/2022.</p>
    </section>
    <section class="main-cutural__cutural-awards">
      
    </section>
    <section class="main-cultural__cultural-gallery">
      <h3>Galeria Fotos Cultural</h3>
      <section class="main-cultural__cultural-gallery__photos">
        <app-photos-gallery IdGallery="9" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="3"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="8"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="9"></app-photos-gallery>
        <app-photos-gallery IdGallery="9" localePhoto="10"></app-photos-gallery>

      </section>

    </section>
  </section>

</section>

