<section id="subMenuBar-main">
  <nav class="subMenuBar-main__nav" [ngStyle]="{'top':posicaoMenuSuspenso, 'position':posicaoMenuFixo,'width':larguraMenu}">
    <ul class="subMenuBar-main__nav-ul">
      <li class="subMenuBar-main__nav-ul-li"><a
        href="/artistic#main-artistic__adulta"
      >Invernada Adulta</a></li>

      <li class="subMenuBar-main__nav-ul-li"><a
        href="/artistic#main-artistic__veterana"
      >Invernada Veterana</a></li>

      <li class="subMenuBar-main__nav-ul-li"><a
        href="/artistic#main-artistc__juvenil"
      >Invernada Juvenil</a></li>

      <li class="subMenuBar-main__nav-ul-li"><a
        href="/artistic#main-artistic__mirim"
        >Invernada Mirim</a></li>

      <li class="subMenuBar-main__nav-ul-li"><a
        href="/artistic#main-artistic__xiru"
        >Invernada Xirú</a></li>

      <li class="subMenuBar-main__nav-ul-li"><a
        href="/artistic#main-artistic__escolinha"
        >Escolinha</a></li>

      <li class="subMenuBar-main__nav-ul-li"><a
        href="/artistic#main-artistic__individual"
        >Individuais</a></li>
    </ul>
  </nav>
</section>

