<section id="gallery-About__first">
  <h2>Patronagem</h2>
  <section id="gallery-About__patronos">
    <app-card-patronagem Id="17" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="18" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="22" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="19" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="20" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="24" class="gallery-About__photos-card"></app-card-patronagem>

  </section>
  <h2>Galeria de Patrões</h2>
  <section id="gallery-About__photos">
    <app-card-patronagem Id="29" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="30" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="31" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="32" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="33" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="34" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="35" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="36" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="37" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="38" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="39" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="40" class="gallery-About__photos-card"></app-card-patronagem>
    <app-card-patronagem Id="41" class="gallery-About__photos-card"></app-card-patronagem>
  </section>
  <h2>Galeria História</h2>
  <section id="gallery-About__photos_history">
    <app-card-gallery-about Id="42"></app-card-gallery-about>
    <app-card-gallery-about Id="43"></app-card-gallery-about>
    <app-card-gallery-about Id="44"></app-card-gallery-about>
    <app-card-gallery-about Id="45"></app-card-gallery-about>
    <app-card-gallery-about Id="46"></app-card-gallery-about>
    <app-card-gallery-about Id="47"></app-card-gallery-about>
    <app-card-gallery-about Id="48"></app-card-gallery-about>
    <app-card-gallery-about Id="49"></app-card-gallery-about>
    <app-card-gallery-about Id="50"></app-card-gallery-about>
    <app-card-gallery-about Id="51"></app-card-gallery-about>
    <app-card-gallery-about Id="52"></app-card-gallery-about>
    <app-card-gallery-about Id="53"></app-card-gallery-about>
    <app-card-gallery-about Id="54"></app-card-gallery-about>
    <app-card-gallery-about Id="55"></app-card-gallery-about>
  </section>
</section>

