#whatsapp-main {
  display: flex;
  position: absolute;
  float: right;
  top: 70vh;
  right: 10px;
}

img {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
}
