<main id="main">

  <app-slider-show id="main_sliderShow"></app-slider-show>
<!--
  <section id="main__article-cards">

    <article id="main__article-main">
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
      <app-card-article class="main__article-cards"></app-card-article>
    </article>

  </section>
-->

  <section class="main_institucional">
    <app-midia-institucional></app-midia-institucional>
  </section>
  <section>
    <app-spotify class="main_spotify"></app-spotify>
  <app-parceiros class="main_parceiros"></app-parceiros>
  </section>


</main>

