#main-history{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3em;
}

#main-history__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#main-history__history > h2 {
  width: 100%;
  text-align: center;
  padding-top: 3em;
  font-size: 2em;text-transform: uppercase;
}

#main-history__history > p {
  text-align: justify;
  font-size: 1.3em;
  margin: 0.5em 0;
}
