<section id="card-contato__main">
  <section id="card-contato__main-imagem">
    <img src="../../../assets/img/Comon/Brasao_Hepta_Fundo_Branco.png" alt="" srcset="">
  </section>
  <section id="card-contato__information">
    <div id="card-contato__information-rede">
      <h4>Redes Sociais</h4>
      <section id="card-contato__information-redeSocial">
        <a class="card-contato__information-redeSocial__icon" href="https://www.facebook.com/ranchodasaudade/" target="_blank"><img src="../../../assets/img/Home/facebook_icon.png" alt="" srcset=""><p>@ranchodasaudade</p></a>
        <a class="card-contato__information-redeSocial__icon" href="https://www.instagram.com/ctgranchodasaudade/" target="_blank"><img src="../../../assets/img/Home/instagram-icon.png" alt="" srcset=""><p>ctgranchodasaudade</p></a>
        <a class="card-contato__information-redeSocial__icon" href="https://www.youtube.com/channel/UCsJ2wBfnKubs2kqck0CQopg" target="_blank"><img src="../../../assets/img/Home/youtube_icon.png" alt="" srcset=""><p>CTG - Rancho da Saudade - Oficial</p></a>
      </section>
      <h4>Contato Rancho</h4>
      <a href="https://wa.me/5551984223779?text=Rancho+da+saudade" target="_blank"><img src="../../../assets/img/Comon/whatsapp_icon.png" alt="" srcset=""><p>Cell Phone: (51) 98422-3779</p></a>
      <h4>-Locação do espaço para eventos</h4>
      <a href="https://wa.me/5551984087325?text=Diego+-+Loca%C3%A7%C3%A3o+do+espa%C3%A7o+do+Rancho+para+eventos" target="_blank"><img src="../../../assets/img/Comon/whatsapp_icon.png" alt="" srcset=""><p>Cell Phone: (51) 99625-7635</p></a>
    </div>
  </section>
</section>

