#card-contato__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
  background-color: #ff7f50;
  border-radius: 1em;
  border: 3px solid #76b897;
}

#card-contato__main-imagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

#card-contato__main-imagem > img {
  width: 100%;
  height: 100%;
}

#card-contato__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em;
  width: 50%;
}

#card-contato__information-rede {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#card-contato__information-redeSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-contato__information-redeSocial__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
  height: 2em;
  padding: 0 0.5em;
}

#card-contato__information-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.card-contato__information-contato__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  margin-top: 2em;
}

.card-contato__information-contato__phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 1em;
  width: 100%;
  margin-bottom: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h4 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding: 1em 0;
}

a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
