<section track-scroll>
  <nav id="menu-bar" [ngStyle]="{'top':posicaoMenuSuspenso, 'position':posicaoMenuFixo, 'z-index':indexMenu}" >
    <div id="menu-bar__icone-hamburgue" (click)="abreMenuHamburgue()">
      <img id="menu-bar__imagem"
        src="{{imagemMenu}}" alt="Icone hamburgue do menu" srcset="">
    </div>
    <ul id="menu-bar__itens" [ngStyle]="{'display':openMenu}">
      <li class="menu-bar__itens-menu"
      [routerLink]="['/']"
      [routerLinkActive]="['actived']"
      [routerLinkActiveOptions]="{exact: true}"
      (click)="fechaSubmenu()">
        <a  >HOME
        </a>
      </li>
      <li class="menu-bar__itens-menu"
        [routerLink]="['/about']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="fechaSubmenu()">
        <a >SOBRE</a>
      </li>
      <li class="menu-bar__itens-menu"
        [routerLink]="['/Locacao']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="fechaSubmenu()">
        <a >LOCAÇÃO</a>
      </li>
      <li class="menu-bar__itens-menu"
        [routerLink]="['/contato']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="fechaSubmenu()">
        <a >CONTATO</a>
      </li>
      <li class="menu-bar__itens-menu">
        <div id="menu-bar__itens-item" (click)="abreEFechaSubMenu()"
        [routerLink]="['/artistic','/campeiro','/cultural']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}">
            DEPARTAMENTOS
            <div id="seta" [ngStyle]="{'transform':setaLateral}"></div>
        </div>
        <ul id="menu-bar__itens-container" [ngStyle]="{'display':openSubmenu,'flex-direction':direcaoSubmenu}">
          <li class="menu-bar__itens-submenu"
            [routerLink]="['/artistic']"
            [routerLinkActive]="['activedSubMenu']"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="fechaSubmenu()">
            <a >ARTISTICO</a></li>
          <li class="menu-bar__itens-submenu"
            [routerLink]="['/campeira']"
            [routerLinkActive]="['activedSubMenu']"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="fechaSubmenu()">
            <a >CAMPEIRO</a></li>
          <li class="menu-bar__itens-submenu"
            [routerLink]="['/cultural']"
            [routerLinkActive]="['activedSubMenu']"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="fechaSubmenu()">
            <a >CULTURAL</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</section>
<section id="menu_resp">
  <nav id="menu_resp" [ngStyle]="{'height': alturaMenu,'top':posicaoMenuSuspenso, 'position':posicaoMenuFixo}">
    <div class="menu_resp_barraSuperior">
      <button (click)="abreMenuResp()">
        <img src={{imageMenu}} alt="" srcset="">
      </button>
    </div>

    <ul class="menu-resp-menu">
      <li class="menu-resp-menu-li"
        [routerLink]="['/']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="fechaSubmenu()">
      <a>home</a></li>
      <li class="menu-resp-menu-li"
        [routerLink]="['/about']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="fechaSubmenu()">
      <a>Sobre</a></li>
      <li class="menu-resp-menu-li"
        [routerLink]="['/Locacao']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="fechaSubmenu()">
        <a >LOCAÇÃO</a>
      </li>
      <li class="menu-resp-menu-li"
        [routerLink]="['/contato']"
        [routerLinkActive]="['actived']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="fechaSubmenu()">
      <a>Contato</a></li>
      <li class="menu-resp-menu-li-a">Departamentos
        <ul class="menu-resp-submenu">
          <li class="menu-resp-submenu-li"
          [routerLink]="['/artistic']"
            [routerLinkActive]="['activedSubMenu']"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="fechaSubmenu()">
          <a>artistico</a></li>
          <li class="menu-resp-submenu-li"
            [routerLink]="['/campeira']"
            [routerLinkActive]="['activedSubMenu']"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="fechaSubmenu()">
          <a>Campeiro</a></li>
          <li class="menu-resp-submenu-li"
            [routerLink]="['/cultural']"
            [routerLinkActive]="['activedSubMenu']"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="fechaSubmenu()">
          <a>Cultural</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</section>
