<section id="main-artistic">
  <!--<app-submenu-bar></app-submenu-bar>-->
  <h1>DEPARTAMENTO ARTISTICO</h1>
  <section id="main-artistic__adulta" class="main-artistic-invernadas" (click)="abrirSecao('1')">
    <div class="containerArtistic">
      <h2>INVERNADA ADULTA</h2>
      <img src="{{imgContainer1}}" alt="" srcset="" id="imgArtistic">
    </div>
    
    <section class="conteudo">
      <p>Através de seu grupo de danças adulto “Os Provincianos”, um dos mais conhecidos grupos de danças tradicionais do Estado e reconhecido nacional e internacionalmente, o CTG Rancho da Saudade participa anualmente do maior festival de arte amadora da América Latina: o Encontro de Artes e Tradição Gaúcha – ENART, que acontece na cidade de Santa Cruz do Sul/RS.
      </p>
      <p>Os Provincianos, tem uma vasta trajetória de sucesso no festival, o qual participa desde 1989, quando ainda era chamado de FEGART. Atualmente, o grupo é HEPTA CAMPEÃO DO FESTIVAL, sagrando-se bicampeão consecutivo nos anos de 2011 e 2012.
      </p>
      <p class="premiacao">• 3º Melhor entrada ENART – 2023</p>
      <p class="premiacao">• 7º lugar ENART – 2023</p>
      <p class="premiacao">• 1º lugar ENART – 2022</p>
      <p class="premiacao">• 1º lugar ENART – 2004</p>
      <p class="premiacao">• 3º lugar ENART – 2005</p>
      <p class="premiacao">• 2º lugar ENART – 2006</p>
      <p class="premiacao">• 1º lugar ENART – 2007</p>
      <p class="premiacao">• 4º lugar ENART – 2008</p>
      <p class="premiacao">• 4º lugar ENART -- 2009</p>
      <p class="premiacao">• 2º lugar ENART – 2010</p>
      <p class="premiacao">• 1º lugar ENART – 2011</p>
      <p class="premiacao">• 1º lugar ENART – 2012</p>
      <p class="premiacao">• 7º lugar ENART – 2013</p>
      <p class="premiacao">• 1º lugar ENART – 2014</p>
      <p class="premiacao">• 5º lugar ENART – 2015</p>
      <p class="premiacao">• 3º lugar ENART – 2016</p>
      <p class="premiacao">• 4º lugar ENART – 2017</p>
      <p class="premiacao">• 1º lugar ENART – 2018</p>
      <p class="premiacao">• 2º lugar ENART - 2019</p>
      <p class="premiacao">• Melhor música inédita de coreografia de entrada ENART – 2023</p>
      <p class="premiacao">• Melhor Coreografia de Saída ENART – 2005</p>
      <p class="premiacao">• Melhor Coreografia de Entrada ENART – 2008</p>
      <p class="premiacao">• Melhor Coreografia de Saída ENART – 2008</p>
      <p class="premiacao">• Melhor Musical ENART – 2007</p>
      <p class="premiacao">• Melhor Musical ENART – 2008</p>
      <p class="premiacao">• Grupo mais popular ENART – 2006</p>
      <p class="premiacao">• Grupo mais popular ENART – 2010</p>
      <p class="premiacao">• Melhor coreografia de entrada ENART – 2010</p>
      <p class="premiacao">• Melhor coreografia de saída ENART - 2010</p>
      <p class="premiacao">• Melhor coreografia de entrada – ENART 2018</p>
      <p>Além dos títulos colecionados no ENART e em diversos concursos e rodeios do Estado, o grupo de danças “Os Provincianos” teve o prazer de representar o País e o Rio Grande do Sul em festivais de folclore no Brasil e no Exterior:</p>
      <p class="premiacao">• 1998, 2005 e 2008 – Festival Internacional de Passo Fundo/RS;</p>
      <p class="premiacao">• 2011 – Festival internacional de Folclores “Les cultures del monde” Gannat – França/FR;</p>
      <p class="premiacao">• 2013 - Festival internacional de folclore “De Pikkeling” – Aalst, Bélgica/BEL;</p>
      <p class="premiacao">• 2013 –International Folkloristisch Dans en Muziekfestival SIVO- Oddorn, Holanda/NLD;</p>
      <p class="premiacao">• 2015 – 30º Folkmonção – Festival Internacional de folclore, em Monção Portugal e Espanha.</p>
      <p class="premiacao">• 2021 - vencedor do 21ª Festival Internacional de Cultura e Arte de Büyükçekmece, em Istambul, na Turquia, formato virtual.</p>
      <p class="premiacao">• 2021 – vencedor do Cheonan World Dance Festival, realizado na Coréia do Sul, em formato virtual.
      </p>
    </section>
    <section class="main-artistic__adulta-awards">
      <section class="main-artistic__adulta-awards__trophies">
          <app-awards IdInvernadas="1" pAwards="29"></app-awards>
          <app-awards IdInvernadas="1" pAwards="1"></app-awards>
          <app-awards IdInvernadas="1" pAwards="2"></app-awards>
          <app-awards IdInvernadas="1" pAwards="3"></app-awards>
          <app-awards IdInvernadas="1" pAwards="4"></app-awards>
          <app-awards IdInvernadas="1" pAwards="5"></app-awards>
          <app-awards IdInvernadas="1" pAwards="6"></app-awards>
          <app-awards IdInvernadas="1" pAwards="7"></app-awards>
          <app-awards IdInvernadas="1" pAwards="8"></app-awards>
          <app-awards IdInvernadas="1" pAwards="9"></app-awards>
          <app-awards IdInvernadas="1" pAwards="10"></app-awards>
          <app-awards IdInvernadas="1" pAwards="11"></app-awards>
          <app-awards IdInvernadas="1" pAwards="12"></app-awards>
          <app-awards IdInvernadas="1" pAwards="13"></app-awards>
          <app-awards IdInvernadas="1" pAwards="14"></app-awards>
          <app-awards IdInvernadas="1" pAwards="15"></app-awards>
          <app-awards IdInvernadas="1" pAwards="16"></app-awards>
          <app-awards IdInvernadas="1" pAwards="17"></app-awards>
          <app-awards IdInvernadas="1" pAwards="18"></app-awards>
          <app-awards IdInvernadas="1" pAwards="19"></app-awards>
          <app-awards IdInvernadas="1" pAwards="20"></app-awards>
          <app-awards IdInvernadas="1" pAwards="21"></app-awards>
          <app-awards IdInvernadas="1" pAwards="22"></app-awards>
          <app-awards IdInvernadas="1" pAwards="23"></app-awards>
          <app-awards IdInvernadas="1" pAwards="24"></app-awards>
          <app-awards IdInvernadas="1" pAwards="25"></app-awards>
          <app-awards IdInvernadas="1" pAwards="26"></app-awards>
          <app-awards IdInvernadas="1" pAwards="27"></app-awards>
          <app-awards IdInvernadas="1" pAwards="28"></app-awards>
      </section>
      <!--
      <section class="main-artistic-invernadas-coordenacao">
        <h3>Coordenação Adulta</h3>
        <section class="main-artistic-invernadas-coordenacao__descricao">
            <app-coordination IdCoordenacao="1" pCoordenacao="1"></app-coordination>
            <app-coordination IdCoordenacao="1" pCoordenacao="2"></app-coordination>
        </section>
      </section>
      -->
    </section>
    <section class="main-artistic__adulta-gallery">
      <h3>Galeria Fotos Adulta</h3>
      <section class="main-artistic__adulta-gallery__photos">
        <app-photos-gallery IdGallery="1" localePhoto="10"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="11"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="12"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="13"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="3"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="8"></app-photos-gallery>
        <app-photos-gallery IdGallery="1" localePhoto="9"></app-photos-gallery>
      </section>
    </section>
  </section>
  <section id="main-artistic__veterana" class="main-artistic-invernadas"  (click)="abrirSecao('2')">
    <div class="containerArtistic">
      <h2>INVERNADA VETERANA</h2>
      <img src="{{imgContainer2}}" alt="" srcset="" id="imgArtistic">
    </div>
    
    <section class="conteudo">
      <p>A Invernada Veterana do Rancho é formada basicamente pela Velha Guarda Provinciana. Muitos de seus dançarinos já passaram pela Invernada Adulta e estão há muitos anos em nossa casa.</p>
      <p>Atualmente, o grupo é BI CAMPEÃO do Festxiru, com os títulos em 2013 e 2023. </p>
      <p>Em suas participações no Festxiru, em Santa Maria, considerado como o Estadual de Danças da Categoria, tivemos grandes conquistas ao longo de nossa história....</p>
      <p class="premiacao">• Campeã Festxiru – 2013, 2023</p>
      <p class="premiacao">• Vice campeã Festxiru – 2012, 2019</p>
      <p class="premiacao">• Melhor entrada e saída Festxiru – 2012, 2022</p>
      <p class="premiacao">• Melhor criação coreográfica Festxiru – entrada Veterana - 2023</p>
      <p class="premiacao">• Melhor musical Veterana – Festxiru – 2023</p>
      <p class="premiacao">• Campeã Rodeio Internacional do Mercosul – 2013</p>
      <p class="premiacao">• Campeã Sarau de Arte Gaúcha – 2013, 2018</p>
      <p class="premiacao">• Campeã Rodeio de Caxias do Sul – 2013</p>
      <p class="premiacao">• Campeã Rodeio Campo bom – 2013</p>
      <p class="premiacao">• Campeão Nacional Categoria Veterana – 2015</p>
      <p class="premiacao">• Campeã Rodeio Pealo Saudade – 2017</p>
      <p class="premiacao">• Campeã Rodeio Chama Nativa – 2017</p>
      <p class="premiacao">• Campeã Rodeio Ronda Crioula de Cachoeirinha – 2019</p>
      <p class="premiacao">• Campeã Rodeio Capão da Canoa – 2022</p>
      <p class="premiacao">• Campeã Festxiruanos – 2022</p>
      <p class="premiacao">• Vice campeã Sarau de Artes Gaúcha – 2012</p>
      <p class="premiacao">• Vice campeã Rodeio Internacional do Mercosul – 2014</p>
      <p class="premiacao">• Vice campeã Rodeio Internacional de Osório – 2016, 2018</p>
      <p class="premiacao">• 3º lugar Rodeio Internacional do Mercosul – 2016</p>
      <p class="premiacao">• 3° Lugar Festxiru – 2014, 2016, 2018</p>
      <p class="premiacao">• 3° Lugar Rodeio Internacional de Osório – 2013</p>

    </section>
    <section class="main-artistic__adulta-awards">
      <section class="main-artistic__adulta-awards__trophies">
        <app-awards IdInvernadas="2" pAwards="1"></app-awards>
        <app-awards IdInvernadas="2" pAwards="2"></app-awards>
        <app-awards IdInvernadas="2" pAwards="3"></app-awards>
        <app-awards IdInvernadas="2" pAwards="4"></app-awards>
        <app-awards IdInvernadas="2" pAwards="5"></app-awards>
        <app-awards IdInvernadas="2" pAwards="6"></app-awards>
        <app-awards IdInvernadas="2" pAwards="7"></app-awards>
        <app-awards IdInvernadas="2" pAwards="8"></app-awards>
        <app-awards IdInvernadas="2" pAwards="9"></app-awards>
        <app-awards IdInvernadas="2" pAwards="10"></app-awards>
        <app-awards IdInvernadas="2" pAwards="11"></app-awards>
        <app-awards IdInvernadas="2" pAwards="12"></app-awards>
        <app-awards IdInvernadas="2" pAwards="13"></app-awards>
        <app-awards IdInvernadas="2" pAwards="14"></app-awards>
        <app-awards IdInvernadas="2" pAwards="15"></app-awards>
        <app-awards IdInvernadas="2" pAwards="16"></app-awards>
        <app-awards IdInvernadas="2" pAwards="17"></app-awards>
        <app-awards IdInvernadas="2" pAwards="18"></app-awards>

      </section>
      
    </section>
    <section class="main-artistic__adulta-gallery">
      <h3>Galeria Fotos Veterana</h3>
      <section class="main-artistic__adulta-gallery__photos">
        <app-photos-gallery IdGallery="2" localePhoto="8"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="9"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="10"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="11"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="3"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="2" localePhoto="7"></app-photos-gallery>
      </section>
    </section>
  </section>
  <section id="main-artistc__juvenil" class="main-artistic-invernadas"  (click)="abrirSecao('3')">
    <div class="containerArtistic">
      <h2>INVERNADA JUVENIL</h2>
      <img src="{{imgContainer3}}" alt="" srcset="" id="imgArtistic">
    </div>
    
    <section class="conteudo">
      <p>A Invernada Juvenil do Rancho é a sequência para os dançarinos da Invernada Mirim.</p>
      <p>De 14 a 17 anos, os jovens tradicionalistas participam desta categoria, e em sua vitalidade, conquistam feitos históricos para o Rancho.</p>
      <p>Em 2002 iniciou suas participações no JuvEnart, considerado o Estadual de Danças da Categoria, que ocorre anualmente em Santa Maria. Em 2017, 2019 e 2023, o grupo se consagrou campeão do evento, carregando consigo o título de TRI CAMPEÃO ESTADUAL JUVENIL.</p>
      <p class="premiacao">A invernada Juvenil é heptacampeã do Festinil, evento promovido pela 1ª RT.</p>
      <p class="premiacao">• Tricampeã Juvenart 2017,2019, 2023</p>
      <p class="premiacao">• Campeã Festival Pioneiro da Tradição (35 CTG) 2022, 2023</p>
      <p class="premiacao">• Campeã Rodeio Internacional do Mercosul 2023</p>
      <p class="premiacao">• Campeã Rodeio Encantado 2019</p>
      <p class="premiacao">• Campeã Rodeio Campo Verde 2016, 2020 e 2023</p>
      <p class="premiacao">• Heptacampeã Festinil – 1ª RT</p>
      <p class="premiacao">• Campeã Sarau de Arte Gaúcha 2016 e 2022</p>
      <p class="premiacao">• Bicampeã Rodeio Estância Velha 2018 e 2019</p>
      <p class="premiacao">• Vice-campeã Juvenart 2016 e 2018</p>
      <p class="premiacao">• 3º lugar Juvenart 2022</p>
      <p class="premiacao">• Melhor musical Juvenart 2022</p>
    </section>
    <section class="main-artistic__adulta-awards">
      <section class="main-artistic__adulta-awards__trophies">
        <app-awards IdInvernadas="3" pAwards="1"></app-awards>
        <app-awards IdInvernadas="3" pAwards="2"></app-awards>
        <app-awards IdInvernadas="3" pAwards="3"></app-awards>
        <app-awards IdInvernadas="3" pAwards="4"></app-awards>
        <app-awards IdInvernadas="3" pAwards="5"></app-awards>
        <app-awards IdInvernadas="3" pAwards="6"></app-awards>
        <app-awards IdInvernadas="3" pAwards="7"></app-awards>
        <app-awards IdInvernadas="3" pAwards="8"></app-awards>
        <app-awards IdInvernadas="3" pAwards="9"></app-awards>
      </section>
      
    </section>
    <section class="main-artistic__adulta-gallery">
      <h3>Galeria Fotos Juvenil</h3>
      <section class="main-artistic__adulta-gallery__photos">
        <app-photos-gallery IdGallery="3" localePhoto="11"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="12"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="3"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="8"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="9"></app-photos-gallery>
        <app-photos-gallery IdGallery="3" localePhoto="10"></app-photos-gallery>
      </section>
    </section>
  </section>
  <section id="main-artistic__mirim" class="main-artistic-invernadas"  (click)="abrirSecao('4')">
    <div class="containerArtistic">
      <h2>INVERNADA MIRIM</h2>
      <img src="{{imgContainer4}}" alt="" srcset="" id="imgArtistic">
    </div>
    
    <section class="conteudo">
      <p>O CTG Ranho da Saudade sempre preservou e incentivou a Invernada Mirim, que fortalece o futuro das nossas tradições e com o crescimento das crianças, mantém a continuidade das demais invernadas, pois os mirins vão trocando de categoria ao longo de sua trajetória tradicionalista.</p>
      <p> 2008 e 2014 a Invernada Mirim conquistou o 1º lugar em Danças Tradicionais no Festirim.</p>
      <p>Em 2015, a Invernada Mirim conquistou o 3º lugar em Danças Tradicionais no Festmirim, evento considerado como o Estadual de Danças da Categoria, em Santa Maria.</p>
      <p class="premiacao">• Campeã do Festirim – 2008 e 2014</p>
      <p class="premiacao">• Vice-campeã do Festival Nacional de Danças em Piratuba/SC em 2015</p>
      <p class="premiacao">• Campeã do Rodeio de Osório 2015</p>
      <p class="premiacao">• Campeã do Sarau de Arte Gaúcha 2015</p>
      <p class="premiacao">• Vice-campeã do Festirim em 2017, 2018, 2019</p>
      <p class="premiacao">• 3º lugar Festmirim – Santa Maria em 2015</p>
      <p class="premiacao">• 4º lugar no Rodeio Internacional do Mercosul – 2023</p>
      <p class="premiacao">• Melhor musical Festival Pioneiro da Tradição – 2023 </p>
    </section>
    <section class="main-artistic__adulta-awards">
      <section class="main-artistic__adulta-awards__trophies">
        <app-awards IdInvernadas="4" pAwards="1"></app-awards>
        <app-awards IdInvernadas="4" pAwards="2"></app-awards>
        <app-awards IdInvernadas="4" pAwards="3"></app-awards>
        <app-awards IdInvernadas="4" pAwards="4"></app-awards>
        <app-awards IdInvernadas="4" pAwards="5"></app-awards>
        <app-awards IdInvernadas="4" pAwards="6"></app-awards>
        <app-awards IdInvernadas="4" pAwards="7"></app-awards>

      </section>
      
    </section>
    <section class="main-artistic__adulta-gallery">
      <h3>Galeria Fotos Mirim</h3>
      <section class="main-artistic__adulta-gallery__photos">
        <app-photos-gallery IdGallery="4" localePhoto="10"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="11"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="12"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="13"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="3"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="8"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="9"></app-photos-gallery>
        <app-photos-gallery IdGallery="4" localePhoto="10"></app-photos-gallery>
      </section>
    </section>
  </section>
  <section id="main-artistic__xiru" class="main-artistic-invernadas"  (click)="abrirSecao('5')">
    <div class="containerArtistic">
      <h2>INVERNADA XIRU</h2>
    <img src="{{imgContainer5}}" alt="" srcset="" id="imgArtistic">
    </div>
    
    <section class="conteudo">
      <p>A Invernada Xiru do Rancho é formada por integrantes acima de 40 anos, que cultivam e preservam o amor à dança tradicional. Com ensaios semanais, o grupo se fortalece a cada ano, participando de diversos rodeios e festivais.</p>
      <p>Dentre suas conquistas atuais, destacamos o bicampeonato do Sarau de Arte Gaúcha (2022/2023), 1º lugar no Festxiruanos, 1º lugar no Rodeio Internacional do Mercosul.</p>
      <p>Em sua história, participou de muitas edições do Festxiru, em Santa Maria e em 2023 conquistou o VICE-CAMPEONATO DO ESTADUAL DE DANÇAS na categoria.</p>
      <p class="premiacao">• Vice campeã Festixru 2023</p>
      <p class="premiacao">• Campeã do Festival Pioneiro da Tradição – 2022</p>
      <p class="premiacao">• Campeã do Festixiruanos 2022</p>
      <p class="premiacao">• Campeã do Sarau de Arte Gaúcha – 2022, 2023</p>
      <p class="premiacao">• Campeã do Rodeio Artístico de Esteio – 2023</p>
      <p class="premiacao">• Campeã do Rodeio Internacional do Mercosul - 2023</p>
      <p class="premiacao">• Campeã do Rodeio Campo Verde - 2023</p>
    </section>
    <section class="main-artistic__adulta-awards">
      <section class="main-artistic__adulta-awards__trophies">
        <app-awards IdInvernadas="5" pAwards="1"></app-awards>
        <app-awards IdInvernadas="5" pAwards="2"></app-awards>
        <app-awards IdInvernadas="5" pAwards="3"></app-awards>

      </section>
      
    </section>
    <section class="main-artistic__adulta-gallery">
      <h3>Galeria Fotos Xiru</h3>
      <section class="main-artistic__adulta-gallery__photos">
        <app-photos-gallery IdGallery="5" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="8"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="9"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="10"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="3"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="5" localePhoto="6"></app-photos-gallery>
      </section>
    </section>
  </section>
  <section id="main-artistic__escolinha" class="main-artistic-invernadas"  (click)="abrirSecao('6')">
    <div class="containerArtistic">
      <h2>ESCOLINHA</h2>
    <img src="{{imgContainer6}}" alt="" srcset="" id="imgArtistic">
    </div>
    
    <section class="conteudo">
      <p>Em 2014, o CTG Rancho da Saudade formou a Invernada Pré-Mirim. Crianças de 5 a 9 anos participavam desta categoria, que chegou a competir em diversos rodeios e festivais pelo Rio Grande do Sul.</p>
      <p>Destacamos que o primeiro rodeio em que participaram, em Santo Antônio da Patrulha, já lhes trouxe o prêmio de 1º lugar, e marcou o início de uma geração vitoriosa no Rancho.</p>
      <p>Em 2015 a Invernada Pré-Mirim foi campeã do Festirim, evento promovido pela 1ª RT. Também foi Bicampeã - Patrulha Arte e Dança 2015/2016.</p>
      <p>Após uma reestruturação das atividades da Entidade, a Pré-Mirim passou a ser a Escolinha do Rancho, que desde então, mantém uma rotatividade de cerca de 50 crianças em suas atividades. Nesta etapa, os novos dançarinos do CTG aprendem os primeiros passos de danças tradicionais, valores, disciplina, tópicos de cultura gaúcha e de indumentária. A invernada mirim é o próximo passo para os pequenos, que esperam ansiosos pelo dia em que farão a troca de categoria.</p>
    </section>
    <section class="main-artistic__adulta-awards">
      
    </section>
    <section class="main-artistic__adulta-gallery">
      <h3>Galeria Fotos Escolinha</h3>
      <section class="main-artistic__adulta-gallery__photos">
        <app-photos-gallery IdGallery="6" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="6" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="6" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="6" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="6" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="6" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="6" localePhoto="3"></app-photos-gallery>
      </section>
    </section>
  </section>
  <section id="main-artistic__individual" class="main-artistic-invernadas"  (click)="abrirSecao('7')">
    <div class="containerArtistic">
      <h2>INDIVIDUAIS</h2>
      <img src="{{imgContainer7}}" alt="" srcset="" id="imgArtistic">
    </div>
      
      <section class="conteudo">
        <p>Os integrantes do CTG Rancho da Saudade participam de diversas modalidades individuais, que fazem parte do departamento artístico da entidade.</p>
        <p>Intérprete vocal, declamação, gaita, Chula, danças gaúchas de salão, conto, poesia, causo gauchesco de galpão, conjunto vocal, violino, violão, entre outras, são algumas das atividades individuais.</p>
        <p>Os participantes concorrem nos rodeios artísticos, festivais e no principal evento da categoria adulta, o Enart.</p>
        <p>Durante nossa história, fomos consagrados em dezenas de eventos, com premiações de nossos individuais!</p>

      </section>
      <section class="main-artistic__adulta-awards">
        
      </section>
      <section class="main-artistic__adulta-gallery">
        <h3>Galeria Fotos Individuais</h3>
        <section class="main-artistic__adulta-gallery__photos">
          <app-photos-gallery IdGallery="7" localePhoto="17"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="18"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="19"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="20"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="1"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="2"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="3"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="4"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="5"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="6"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="7"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="8"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="9"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="10"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="11"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="12"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="13"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="14"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="15"></app-photos-gallery>
          <app-photos-gallery IdGallery="7" localePhoto="16"></app-photos-gallery>
        </section>
      </section>
  </section>
  
</section>

