<section id="main-campeira">
  <h1>DEPARTAMENTO CAMPEIRO</h1>
  <section id="main-campeira__adulta" class="main-campeira-invernadas">
    <h2>CAMPEIRO</h2>
    <section class="conteudo">
      <p>O Departamento Campeiro coordena e organiza as atividades campeiras da entidade. A campeira do Rancho se destaca por suas cavalgadas de busca da Chama Crioula e Cavalgada do Mar, além de participar de ações sociais, principalmente voltadas à distribuição de alimentos para a comunidade carente da região do Vale do Gravataí..</p>
    </section>
    <section class="main-campeira__campeira-gallery">
      <h3>Galeria Fotos Campeiro</h3>
      <section class="main-campeira__campeira-gallery__photos">
        <app-photos-gallery IdGallery="8" localePhoto="1"></app-photos-gallery>
        <app-photos-gallery IdGallery="8" localePhoto="2"></app-photos-gallery>
        <app-photos-gallery IdGallery="8" localePhoto="3"></app-photos-gallery>
        <app-photos-gallery IdGallery="8" localePhoto="4"></app-photos-gallery>
        <app-photos-gallery IdGallery="8" localePhoto="5"></app-photos-gallery>
        <app-photos-gallery IdGallery="8" localePhoto="6"></app-photos-gallery>
        <app-photos-gallery IdGallery="8" localePhoto="7"></app-photos-gallery>
        <app-photos-gallery IdGallery="8" localePhoto="8"></app-photos-gallery>
      </section>
    </section>
  </section>

</section>

