/*reponsividade - modelos responsivos para tablet de 768px
e celulares com 480px, o modo landascape deve ser implementado mais para frente*/
/**modo tablet configuração de 769px
*/
@media screen and (max-width:769px){

  #section_intitutional_video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;

  }

  iframe, #img_galeria_inicial{
    width: 90vw;
    height: 60vh;
  }
}

/*modo celular configuração de 480px*/
@media screen and (max-width:480px){
  #institutional {
    height: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #76b897;
    margin: 30px 0 20px 0;
    background-image: url('../../../assets/img/Home/imagem_do_início.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #76b897;
  }

  iframe, #img_galeria_inicial{
    width: 90vw;
    height: 40vh;
  }
}
