#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  width: 98vw;
}

#imagem-historia {
  display: -webkit-box;display: -ms-flexbox;display: flex;
}

#imagem-historia > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
